<div class="row">
  <%= form_with(model: @categoria) do |form| %>
    <% if categoria.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

        <ul>
          <% categoria.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <%= form.label :descricao, class: "form-label" %>
      <%= form.text_field :descricao, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Submeter", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
