<p id="notice"><%= notice %></p>

<div class="container d-flex flex-column">
  <div class="justify-content-center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Descrição:</strong>
      <%= @categoria.descricao %>
    </p>

    <%= link_to 'Editar', categoria_path(@categoria) %> |
    <%= link_to 'Voltar', categorias_path %>
  </div>
</div>