<div class="row">
  <%= form_with(model: [:loja, @usuario]) do |form| %>
    <% if usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

        <ul>
          <% usuario.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <%= form.label :nome, class: "form-label" %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :endereco, class: "form-label" %>
      <%= form.text_field :endereco, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :login, class: "form-label" %>
      <%= form.text_field :login, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :senha, class: "form-label" %>
      <%= form.password_field :senha, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :administrador, class: "form-label" %>
      <%= form.check_box :administrador %>
    </div>

    <div class="actions">
      <%= form.submit "Submeter", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>