<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @usuario.endereco %>
</p>

<p>
  <strong>Login:</strong>
  <%= @usuario.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @usuario.administrador %>
</p>

<%= link_to 'Edit', edit_usuario_backoffice_usuario_path(@usuario) %> |
<%= link_to 'Back', usuario_backoffice_usuario_path %>
