<div class="container d-flex flex-column">
  <div class="justify-content-center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nome:</strong>
      <%= @usuario.nome %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @usuario.email %>
    </p>

    <p>
      <strong>Endereco:</strong>
      <%= @usuario.endereco %>
    </p>

    <p>
      <strong>Login:</strong>
      <%= @usuario.login %>
    </p>

    <p>
      <strong>Administrador:</strong>
      <%= @usuario.administrador %>
    </p>

    <%= link_to 'Editar', edit_loja_usuario_path(@usuario) %> |
  </div>
</div>